# deps
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vercel
.convex/

# typescript
*.tsbuildinfo
next-env.d.ts
